@page "/fetchdata"
@using LearningBlazor.Shared
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<TelerikGrid Data="@forecasts"
    Sortable="true"
    Pageable="true" PageSize="@PageSize"
    FilterMode="GridFilterMode.FilterMenu">
     <GridToolBar>
        Select Page Size: <TelerikDropDownList Data="@PageSizesList" @bind-Value="@PageSize" Width="60px" />
        <TelerikPager Total="@TotalLength" @bind-Page="@CurrentPage" PageSize="@PageSize" />
    </GridToolBar>
    <GridColumns>
        <GridColumn Field="@nameof(WeatherForecast.Date)"></GridColumn>
        <GridColumn Field="@nameof(WeatherForecast.TemperatureC)"
            Title="Temp (C)"></GridColumn>
        <GridColumn Field="@nameof(WeatherForecast.TemperatureF)"
            Title="Temmp (F)"></GridColumn>
        <GridColumn Field="@nameof(WeatherForecast.Summary)"></GridColumn>
    </GridColumns>
</TelerikGrid>

@code {
    public int PageSize { get; set; } = 5;
    public int CurrentPage { get; set; } = 1;
    protected List<int> PageSizesList = new List<int>() { 5, 10, 15, 20, };
    WeatherForecast[] forecasts;
    public int TotalLength = 0;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
        TotalLength = forecasts.Length;
    }

}
